<!DOCTYPE html>
<html lang="en">



<body>

    <main>
        <section class="center main-content">
        <h1>Login</h1>
        <p>Crear el formulario para ingresar al sitio.</p>
        </section>
    </main>
</body>

</html>