<!DOCTYPE html>
<html lang="en">


<body>

    <main>
        <section class="center main-content">
        <h1>Resultados de búsqueda.</h1>
        <p>Construir la vista.</p>
        </section>
    </main>

</body>

</html>